{{>header}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1">
            <form action="/edituser" method="POST">
                <div class="form-group">
                    <label>Documento de identidad</label>
                    <input class="form-control" type="number" name="documentoIdentidad" value="{{idNumber}}" disabled required>
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input class="form-control" type="email" name="correo" value="{{email}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" name="nombre" value="{{name}}" required></input>
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input class="form-control" type="number" name="telefono" value="{{phone}}" required>
                </div>

                <div class="form-group">
                    <label>Rol</label>
                    <select class="form-control" name="rol" id="rol" value>
                        <option value='aspirante'>Aspirante</option>
                        <option value='coordinador'>Coordinador</option>
                        <option value='docente'>Docente</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark" name="id" value="{{inscripcion}}">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}