{{>header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 offset-sm-0">
            <div class="table-responsive-md">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col" class="col-sm-0">Telefono</th>
                            <th scope="col">Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <div>{{error}}</div>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            <td class="col-sm-0">{{phone}}</td>
                            <td>{{role}}</td>
                            <td>
                                <form action="/getInfoUser" method="POST">
                                    <button type="submit" class="btn btn-secondary" name="id"
                                        value="{{inscripcion}}">Editar</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{>footer}}