{{>header}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-sm-0 col-md-12 offset-md-0 col-lg-10 offset-lg-1">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rol</th>
                        <th></th>
                    </tr>
                </thead>
                <div>{{error}}</div>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{role}}</td>
                        <td>
                            <form action="/getInfoUser" method="POST">
                                <button type="submit" class="btn btn-secondary" name="id" value="{{inscripcion}}">Editar</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>footer}}