<!DOCTYPE html>
<html>

<head>
    <title>EduPlatform</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="main-body">
    <header style="text-align: center;">
        <h1> {{titulo}}</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index">Inicio</a>
                </li>
                {{#if isCoordinador}}
                <li class="nav-item">
                    <a class="nav-link" href="/usuario">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/roles">Gestión de usuarios</a>
                </li>
                {{/if}}

                {{#if sesion}}
                <li class="nav-item">
                    <a class="nav-link" href="/curso">Curso</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/salir" method="GET">
                <div class="logout-comp">
                    <h3 class="name">{{nombre}}</h3>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Salir</button>
                </div>
            </form>
            {{else}}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/ingresar" method="POST">
                <input class="form-control mr-sm-2" type="text" name="correo" placeholder="Correo">
                <input class="form-control mr-sm-2" type="password" name="password" placeholder="contraseña">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Ingresar</button>
            </form>
            {{/if}}
        </div>
    </nav>

    {{#if alert}}
    <div class="alert {{{alertType}}}" role="alert">{{{mensaje}}}</div>
    {{/if}}